@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

/* Hide scrollbar for Firefox */
.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.hideScrollbar {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-scrollbar-width: none; /* Chrome and Safari */
}
